body {
    margin-bottom: 50px;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}

.featureImg {
    margin-bottom: 15px;
}

.carousel {
    margin-top: 50px;
}


.carousel {
    margin-bottom: 25px;
}


